**/__pycache__
database/logs
pipeline
results
.env
.gradio
.vscode
nextflow/pipelines
nextflow/runs/**/results
nextflow/runs/**/logs
nextflow/runs/**/work
nextflow/runs/**/.nextflow
tmp_b_c.txt
**.pdb
**.mmcif