**/__pycache__
.vscode
/AI/dataset/genome
/AI/dataset/alphafoldDB_mmcif
/AI/dataset/protein_feature.csv
/AI/dataset/secondary_structure.csv
/AI/dataset/uniprot_C2H2_protein_table.tsv
/AI/dataset/formal_data
/AI/dataset/unittest_data
/AI/dataset/inference_data.csv
/AI/dataset/extra/data
/AI/dataset/assess_peak_width
/AI/dataset/assess_SRR
/AI/dataset/pCBS_train.csv
/AI/app_space.yaml
/DeepZF/Data
/DeepZF/Results
/paper/benchmark
/paper/infer_all_models
/.gradio
