**/__pycache__
.conda
database/logs
.env
.gradio
.vscode
nextflow/pipelines
nextflow/runs/**/results
nextflow/runs/**/logs
nextflow/runs/**/work
nextflow/runs/**/.nextflow
tmp_b_c.txt
**.pdb
**.mmcif
**/c2h2_motifs
**.dbs
preprocess/protein.tsv
preprocess/secondary_structure.tsv
preprocess/uniprot_mouse_C2H2_protein.tsv
preprocess/know_motif/jaspar/JASPAR2024_*
preprocess/know_motif/hocomoco/H13CORE_meme_format.meme
preprocess/know_motif/hocomoco/tf_masterlist.tsv
preprocess/know_motif/CIS-BP/TF_Information*
preprocess/know_motif/CIS-BP/pwms_all_motifs
preprocess/know_motif/factorbook/all-selex-motifs.meme
preprocess/know_motif/factorbook/complete-factorbook-catalog.meme
preprocess/know_motif/factorbook/complete-factorbook-catalog.meme.corrected
preprocess/know_motif/factorbook/factorbook_chipseq_meme_motifs.tsv
AI_models/bind_transformer/checkpoints
AI_models/bind_transformer/pipeline
AI_models/DeepZF/Data
AI_models/DeepZF/BindZF_predictor/code/model.p
AI_models/DeepZF/Results
reference
AI_models/bind_transformer/config_custom.ini
