bioconda::bioframe
conda-forge::biopython
bioconda::blast
bioconda::ucsc-bedclip
conda-forge::configargparse

conda-forge::datasets
conda-forge::diffusers
conda-forge::transformers
conda-forge::accelerate
conda-forge::evaluate
conda-forge::tensorboard
conda-forge::opt_einsum
conda-forge::einops
conda-forge::optuna
conda-forge::lightgbm

bioconda::igv
conda-forge::ipykernel
bioconda::macs3
bioconda::nextflow
bioconda::nf-core
bioconda::seqkit

bioconda::entrez-direct
conda-forge::ncbi-datasets-cli
bioconda::sra-tools
