bioconda::bioframe
conda-forge::biopython
bioconda::blast
bioconda::ucsc-bedclip
conda-forge::configargparse
conda-forge::datasets
conda-forge::diffusers
conda-forge::transformers
conda-forge::accelerate
conda-forge::gradio
bioconda::entrez-direct
conda-forge::ncbi-datasets-cli
bioconda::igv
conda-forge::ipykernel
bioconda::macs3
bioconda::nextflow
bioconda::nf-core
conda-forge::pyarrow
bioconda::seqkit
bioconda::sra-tools
